= content_for :extra_scripts do
  = javascript_include_tag "handlebars"
  = javascript_include_tag "template_builder"
  = javascript_include_tag "quiz_creator"

.row
  .main-content.large-9.cloumns
    %h1
      = @quiz.name
    .quiz-question
      = form_for([@quiz, @question], html: {multipart: true}) do |f|
        .field
          %h4
            Question
          = f.text_area :question, class: "question"
          = f.hidden_field :quiz_id, value: @quiz.id
          = f.hidden_field :question_id, class: "question_id", value: @question.id
          %section.answers
            .row
              .large-2.columns
                %h4
                  Answers
              .large-10.columns
                .answer-radio-tagline
                  (click button to side of text field to indicate the correct answer)
            =f.fields_for :answer do |p|
              %ul.answer-list
                %li
                  .field
                    .row
                      .large-1.columns.answer-radio
                        = radio_button_tag :option1, ""
                      .large-10.columns
                        .ghost-answer
                          %a{href: "#"} Add Answer
                      .large-1.columns
    %hr
    %a.custom-button-small.pull-left#add-question-link{href: "#"} Add Another Question
    %a.custom-button-small.pull-right{href: "#{new_classroom_path}"} Save Quiz

%script.template{type: "text/x-handlebars-template"}
  .quiz-question
    %hr
      = form_tag("#") do
        .field
          %h4
            Question
          = text_area_tag :question, "", class: "question"
          %input{type:'hidden', name:"quiz_id", value:"{{quiz_id}}"}
            = hidden_field_tag :question_id, "", class: "question_id"
          %section.answers
            .row
              .large-2.columns
                %h4
                  Answers
              .large-10.columns
                .answer-radio-tagline
                  (click button to side of text field to indicate the correct answer)
            %ul.answer-list
              %li
                .field
                  .row
                    .large-1.columns.answer-radio
                      = radio_button_tag :option1, ""
                    .large-10.columns
                      .ghost-answer
                        %a{href: "#"} Add Answer
                    .large-1.columns

