.row
  #main-content.large-9.cloumns
    %h1
      Create a Quiz
    %h3
      = @quiz.name
    .quiz-question
      = form_tag quizzes_path do
        .field
          = text_field_tag :quiz_name
        %hr
        .field
          %h4
            Question
          = text_area_tag :question
        .row
          .large-2.columns
            %h4
              Answers
          .large-10.columns
            .answer-radio-tagline
              (click button to side of text field to indicate the correct answer)
        %ul.answer-list
          %li
            .field
              .row
                .large-1.columns.answer-radio
                  = radio_button_tag :option1, ""
                .large-10.columns
                  = text_area_tag :answer
                .large-1.columns
                  .remove-field-x
                    = link_to "X", "#", class: "remove-link"
          %li
            .field
              .row
                .large-1.columns.answer-radio
                  = radio_button_tag :option1, ""
                .large-10.columns
                  .ghost-answer
                    %a{href: "#"} Add another answer
                .large-1.columns
    %hr
      .actions
        %a.custom-button-small.pull-left{href: "#"}
          Add Another Question
      .actions
        %a.custom-button-small.pull-right{href: "#{new_classroom_path}"}
          Save Quiz

        / = submit_tag "save"




