.row
  #main-content.large-9.cloumns
    %h1
      Create a Quiz
    .quiz-question
      = form_tag quizzes_path do
        .field
          %h3
            Quiz Name
          = text_field_tag :quiz_name
        %hr
        .field
          %h4
            Question
          = text_area_tag :question
        %h4
          Answers
        %p
        (click button to side of text field to indicate the correct answer)
        %ul.answer-list
          %li
            .field
              .row
                .large-1.columns.answer-radio
                  = radio_button_tag :option1, ""
                .large-10.columns
                  = text_area_tag :answer
                .large-1.columns
                  = link_to "X", "#", class: "remove-link"
          %li
            .field
              .row
                .large-1.columns.answer-radio
                  = radio_button_tag :option1, ""
                .large-10.columns
                  .ghost-answer
                    Add another answer
                  / = text_area_tag :answer, nil, {disabled: true, placeholder: "Add another answer", class: "ghost-answer"}
                .large-1.columns
    %hr
      .actions.custom-button-small.pull-left
        Add Another Question
      .actions.custom-button-small.pull-right
        Save Quiz
        / = submit_tag "save"




