.row
  .large-8.cloumns
    %h1
      Create a Quiz
    .quiz-question
      = form_tag quizzes_path do
        .field
          %h3
            Quiz Name
          = text_field_tag :quiz_name
        %br
        %hr
        %br
        .field
          %h4
            Question
          = text_area_tag :question
        .field
          %h4
            Answers
          #answer-radio.large-1.pull-left
            = radio_button_tag :option1, ""
          .large-11.pull-left
            = text_area_tag :answer
        .field
          #answer-radio.large-1.pull-left
            = radio_button_tag :option1, ""
          .large-11.pull-left
            = text_area_tag :answer
        .field
          #answer-radio.large-1.pull-left
            = radio_button_tag :option1, ""
          .large-11.pull-left
            = text_area_tag :answer
        .field
          #answer-radio.large-1.pull-left
            = radio_button_tag :option1, ""
          .large-11.pull-left
            = text_area_tag :answer
    %hr
      .actions.custom-button-small
        Add Another Question
      .actions
        = submit_tag "save"

