.row
  .main-content.large-11.columns
    .classroom-header
      %h1
        = @classroom.name
    -if current_user.teacher?
      .row.dashborad-widget-header
        .large-3.columns.header-text
          %h2
            Students
      .row
        .large-12.columns
          %br
      = form_tag classroom_students_path(@classroom.id) do
        .row
          .large-9.columns
            .field
              = hidden_field_tag :classroom_id, @classroom.id
              = label_tag :add_students
              = text_area_tag :students
          .large-3.columns
            .actions
              = submit_tag "Add Students", class: "custom-button-small add-students-btn pull-right"
      .row
        .large-12.columns
          - @classroom.students.each do |student|
            .pull-left
              .circle
              %br
                - if student.first_name
                  = student.full_name
                - else
                  = student.email
      .dashborad-widget-header
        .header-text
          %h2
            Quizzes
      = form_tag quizzes_path do
        .row
          .large-10.columns
            .field
              = text_field_tag :quiz_name
          .large-2.columns
            .action
              = button_to "Create Quiz", quizzes_path, class: "custom-button-small pull-right"
      -if Quiz.count > 0
        -@quizzes.each do |quiz|
          %hr
          .row
            .large-9.columns
              %h3
                = quiz.name
            .large-3.columns
              = button_to "open", start_quiz_path(classroom_id: @classroom.id, quiz_id: quiz.id), class: "custom-button-small pull-right"
      .dashborad-widget-header
        .header-text
          %h2
            Class Stats
        .large-12.columns
          %h3 Coming Soon!
    -else
      Your instructor has not posted a quiz yet.  Hang tight!
