.row
  .main-content.large-11.columns
    .classroom-header
      %h1
        = @classroom.name
    -if current_user.teacher?
      .row.dashborad-widget-header
        .large-3.columns.header-text
          %h2
            Students
        %form.search-bar{:action => "/students", :method => "get"}
          .large-6.columns
            %input.student-search-input{:autocomplete => "off", "data-provide" => "typeahead", "data-source" => @search_terms, :name => "q", :onwebkitspeechchange => "onChange()", :placeholder => "search for students", :type => "text", "x-webkit-speech" => ""}/
          .large-3.columns
          %button.custom-button-small{:name => "Search", :type => "submit"} Find
      .row
        .large-12.columns
          .circle
          .circle
          .circle
          .circle
          .circle
          .circle
          .circle
          .circle
      = form_tag classroom_students_path(@classroom.id) do
        .row
          .large-9.columns
            .field
              = hidden_field_tag :classroom_id, @classroom.id
              = label_tag :add_students
              = text_area_tag :students
          .large-3.columns
            .actions
              = submit_tag "Add Students", class: "custom-button-small add-students-btn pull-right"
      .dashborad-widget-header
        .header-text
          %h2
            Quizzes
      = form_tag quizzes_path do
        .row
          .large-10.columns
            .field
              = text_field_tag :quiz_name
          .large-2.columns
            .action
              = button_to "Create Quiz", quizzes_path, class: "custom-button-small pull-right"
      -if Quiz.count > 0
        -@quizzes.each do |quiz|
          %hr
          .row
            .large-9.columns
              %h3
                = quiz.name
            .large-3.columns
              = button_to "open", start_quiz_path(classroom_id: @classroom.id, quiz_id: quiz.id), class: "custom-button-small pull-right"
      .dashborad-widget-header
        .header-text
          %h2
            Class Stats
        .large-12.columns
          =image_tag "charts_screen_shot.png"
    -else
      Students will see something...
