= content_for :extra_scripts do
  = javascript_include_tag "http://localhost:9292/faye.js"
  = javascript_include_tag "handlebars"

  :javascript

    var questionTemplate = "<div class='field'> \
          <label for='answer_{{id}}'><input id='answer_{{id}}' name='answer' type='radio' value={{id}} /> \
          <span class='text'>{{text}}</span>\
          </label> \
            </div>";

    var questionInput = function(data) {
      template = Handlebars.compile(questionTemplate);
      return template(data);

    };


    $(document).ready( function() {
      var faye = new Faye.Client('http://localhost:9292/faye');
      var channel = $('#chat').data("channel");
      var question = '';

      $('section.question').hide();

      faye.subscribe("/#{@chat.public_channel}", function(data) {
        if(data.isQuestion) {
          $('section.question').show();
          question = data.message;
          var answersLength = question.answers.length;
          var answerForm = $("form#answer");
          answerForm.children("input[type='radio']").remove();
          for(var i = answersLength-1; i >= 0; i--) {
            answerForm.prepend(questionInput(question.answers[i]));
          }


          $("h2#question-title").text(question.title);
        }else if(data.token === "#{current_user.token}") {
          console.log("Your answer is " + data.answer)
        }

      });

      $("form#answer").on("submit", function() {

        var publicChannel;
        var selectedAnswer = $(this).find('input[type="radio"]:checked').val();
        var selectedText = $(this).find('input[type="radio"]:checked').siblings('.text').text();
        var data;

        if(selectedAnswer) {
          //$(this).find('input[type="submit"]').remove();

          $(this).children().remove();
          $('p.selected_answer').text(selectedText);

          publishChannel = $("#publish_channel").val();
          data = {
            message: $("#message").val(),
            sender: "#{current_user.first_name} #{current_user.last_name}",
            token: "#{current_user.token}",
            answer: selectedAnswer
          }

          faye.publish("/#{@chat.public_channel}", data);
          faye.publish("/#{@chat.teacher_channel}", data);

          $("form")[0].reset();
        } else {
          console.log("You must select an answer before submitting");
        }
        return false;
      });
    });
