= content_for :extra_scripts do
  = javascript_include_tag "http://localhost:9292/faye.js"
  = javascript_include_tag "handlebars"
  = javascript_include_tag "socket"
  = javascript_include_tag "template_builder"

  :javascript

    $(document).ready( function() {
      var socket = Socket('http://localhost:9292/faye');
      var channel = $('#chat').data("channel");
      var question = '';

      var FormBuilder = function(data) {
        var that = {};

        var questionTemplate = $('.template').text();

        var question = data.question;
        that.isQuestion = function() {
          return data.isQuestion == true;
        }

        that.updateAction = function(answerForm) {
          answerForm.attr('action', question.submitPath);
        }

        that.updateAnswers = function(answerForm) {
          var answersLength = question.answers.length;
          answerForm.children("input[type='radio']").remove();
          for(var i = answersLength-1; i >= 0; i--) {
            answerForm.prepend(templateBuilder(questionTemplate, question.answers[i]));
          }
          answerForm.children("input[type='submit']").show().attr("disabled", true);
          answerForm.append("<input class='button' type='submit' name='commit' value='Submit' disabled='disabled'>");

        };

        that.updateForm = function(answerForm) {
          this.updateAction(answerForm);
          this.updateAnswers(answerForm);
        }

        that.updateTitle = function(title) {
          title.text(data.question.title);
        };

        return that;

      };

      $('section.question').hide();

      socket.subscribe("/#{@chat.public_channel}", function(data) {
        var formBuilder = FormBuilder(data);
        if(formBuilder.isQuestion()) {
          $('section.question').show();
          //formBuilder.updateAnswers($("form#answer"));
          formBuilder.updateForm($("form#answer"));
          formBuilder.updateTitle($("h2#question-title"));
        } else {
          console.log("this is not question");
          $('p.selected_answer').text(data.answer.text);
        }
      });

      var selectedAnswer;


      $("form#answer").on("click", "input[type='radio']", function() {
        $('form#answer input[type="submit"]').attr("disabled", false);
        selectedAnswer = $(this).val();
      });


      $("form#answer").on("submit", function() {

        var publicChannel;
        var data;

        $(this).children().remove();

        data = {
          question: $("#message").val(),
          sender: "#{current_user.first_name} #{current_user.last_name}",
          token: "#{current_user.token}",
          answer: {
            id: selectedAnswer,
            text: "blah blah blah"
            }
        }

        socket.publish("/#{@chat.public_channel}", data);
        socket.publish("/#{@chat.teacher_channel}", data);


        $("form")[0].reset();
        return false;
      });
    });
