= javascript_include_tag "http://localhost:9292/faye.js"

:javascript
  $(document).ready( function() {
    var faye = new Faye.Client('http://localhost:9292/faye');

    var channel = $('#chat').data("channel");
    faye.subscribe("/#{@chat.public_channel}", function(data) {
      console.log(data);
      if(data.isQuestion || data.token === "#{current_user.token}") {
        $("#chat").append("<li>"+data.sender+": "+data.message+"</li>");
      }

    });

    $("form").on("submit", function() {

      var publishChannel = $("#publish_channel").val();

      faye.publish("/#{@chat.public_channel}", {
        message: $("#message").val(),
        sender: "#{current_user.first_name} #{current_user.last_name}",
        token: "#{current_user.token}"

      });
      faye.publish("/#{@chat.teacher_channel}", {
        message: $("#message").val(),
        sender: "#{current_user.first_name} #{current_user.last_name}",
        token: "#{current_user.token}"

      });
      $("form")[0].reset();
    });
  });
